<div ng-app="UserApp">
<section class="container-fluid" ng-controller="UserController as userCtrl">
    <h1>Manage User Account</h1>
    <hr>

    <div class="row">
        <!-- left hand navigation -->
        <div class="col-md-2">{{>nav}}</div>

        <!-- main content -->
        <div class="col-md-10" ng-show="userCtrl.isCurrentView(1)">
            <ul>
                <li>Name: //userCtrl.user.name//</li>
                <li>Email: //userCtrl.user.email//</li>
            </ul>
        </div>
        <div class="col-md-10" ng-show="userCtrl.isCurrentView(2)">

            <div ng-show="userCtrl.messageGood">//userCtrl.messageGood//</div>
            <div ng-show="userCtrl.messageError">//userCtrl.messageError//</div>

            <form name="userDetailsForm" class="css-form"
                  ng-submit="userDetailsForm.$valid && userCtrl.validate(userCtrl.userTemp) && userCtrl.updateUser(userCtrl.userTemp)"
                  novalidate>
                <ul>
                    <li>
                        <fieldset>
                            <label for="name">Name:</label>
                            <input name="name" type="text" ng-model="userCtrl.userTemp.name" />
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <label for="email">Email:</label>
                            <input name="email" type="email" ng-model="userCtrl.userTemp.email" required>
                        </fieldset>
                    </li>
                </ul>
                <input type="submit" value="Update"/>
            </form>
        </div>
    </div>
</section>
</div>