
    <h1>Login</h1>
    <div>{{{message}}}</div>
    <div>
        <form action='/user/login' method='post'>
            <fieldset>
                    <label for='email'>email
                        <input id='email' type='text' value='' placeholder='@' name='email' />
                    </label>
            </fieldset>
            <fieldset>
                <label for='password'>password
                            <input id='password' type='password' value='' placeholder='' name='password' />
                </label>
            </fieldset>
            <input type="submit" value="Login" />
        </form>
    </div>